# 01 - Data Overview

This notebook provides an initial overview of the cleaned datasets used in the project:

- `clean_matches_22_23.csv`: match-level statistics (xG, shots, possession, etc.)
- `clean_bookmakers_22_23.csv`: pre-match betting odds from bookmakers

The goal is to validate the data structure, check basic consistency (number of matches, missing values, value ranges), and prepare for the merge of match statistics and betting odds.

In [6]:
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option("display.max_columns", 50)

In [7]:
matches_df = pd.read_csv("../data/clean_matches_22_23.csv")   # les ../ c'est pour sortir du notebooks sinon il trouve pas le fichier
bookmakers_df = pd.read_csv("../data/clean_bookmakers_22_23.csv")

matches_df.head()

,date,home_team,away_team,home_goals,away_goals,home_xg,away_xg,home_shots,away_shots,home_sot,away_sot,home_poss,away_poss
0,2022-08-05,Crystal Palace,Arsenal,0,2,1.2,1.0,10,10,2,2,56,44
1,2022-08-06,Tottenham Hotspur,Southampton,4,1,1.5,0.5,18,10,8,2,58,42
2,2022-08-06,Fulham,Liverpool,2,2,1.2,1.2,8,11,2,3,33,67
3,2022-08-06,Bournemouth,Aston Villa,2,0,0.6,0.7,7,15,3,2,35,65
4,2022-08-06,Newcastle United,Nottingham Forest,2,0,1.7,0.3,23,5,9,0,61,39

In [ ]:
matches_df.shape, bookmakers_df.shape

((380, 13), (380, 24))

In [9]:
bookmakers_df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,B365H,B365D,B365A,PSH,PSD,PSA,WHH,WHD,WHA,AvgH,AvgD,AvgA,pH_raw,pD_raw,pA_raw,ProbH,ProbD,ProbA
0,05/08/2022,Crystal Palace,Arsenal,0,2,A,4.20,3.6,1.85,4.50,3.65,1.89,4.40,3.5,1.83,4.366667,3.583333,1.856667,0.229008,0.279070,0.538600,0.218795,0.266625,0.514581
1,06/08/2022,Fulham,Liverpool,2,2,D,11.00,6.0,1.25,11.20,6.22,1.28,12.00,5.5,1.27,11.400000,5.906667,1.266667,0.087719,0.169300,0.789474,0.083822,0.161779,0.754399
2,06/08/2022,Bournemouth,Aston Villa,2,0,H,3.75,3.5,2.00,3.93,3.58,2.04,3.75,3.3,2.05,3.810000,3.460000,2.030000,0.262467,0.289017,0.492611,0.251382,0.276811,0.471806
3,06/08/2022,Leeds,Wolves,2,1,H,2.25,3.4,3.20,2.39,3.33,3.30,2.25,3.3,3.20,2.296667,3.343333,3.233333,0.435414,0.299103,0.309278,0.417145,0.286553,0.296302
4,06/08/2022,Newcastle,Nott'm Forest,2,0,H,1.66,3.8,5.25,1.71,3.74,5.83,1.67,3.7,5.25,1.680000,3.746667,5.443333,0.595238,0.266904,0.183711,0.569141,0.255202,0.175657