# 01 - Data Overview

This notebook provides an initial overview of the cleaned datasets used in the project:

- `clean_matches_22_23.csv`: match-level statistics (xG, shots, possession, etc.)
- `clean_bookmakers_22_23.csv`: pre-match betting odds from bookmakers

Goals:
- Validate the data structure 
- Check basic consistency (number of matches, missing values, value ranges)
- Prepare for the merge of match statistics and betting odds.

In [5]:
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option("display.max_columns", 50)

In [6]:
matches_df = pd.read_csv("../data/processed/clean_matches_22_23.csv")   # les ../ c'est pour sortir du notebooks sinon il trouve pas le fichier
bookmakers_df = pd.read_csv("../data/processed/clean_bookmakers_22_23.csv")

matches_df.head()

,date,home_team,away_team,home_goals,away_goals,home_xg,away_xg,home_shots,away_shots,home_sot,away_sot,home_poss,away_poss
0,2022-08-05,Crystal Palace,Arsenal,0,2,1.2,1.0,10,10,2,2,56,44
1,2022-08-06,Tottenham Hotspur,Southampton,4,1,1.5,0.5,18,10,8,2,58,42
2,2022-08-06,Fulham,Liverpool,2,2,1.2,1.2,8,11,2,3,33,67
3,2022-08-06,Bournemouth,Aston Villa,2,0,0.6,0.7,7,15,3,2,35,65
4,2022-08-06,Newcastle United,Nottingham Forest,2,0,1.7,0.3,23,5,9,0,61,39

In [7]:
matches_df.shape, bookmakers_df.shape
# .shape() gives you (numbers of lines, numbers of columns)

((380, 13), (380, 9))

In [8]:
bookmakers_df.head()

,date,home_team,away_team,home_odds,draw_odds,away_odds,prob_book_home,prob_book_draw,prob_book_away
0,2022-08-05,Crystal Palace,Arsenal,4.366667,3.583333,1.856667,0.218795,0.266625,0.514581
1,2022-08-06,Fulham,Liverpool,11.400000,5.906667,1.266667,0.083822,0.161779,0.754399
2,2022-08-06,Bournemouth,Aston Villa,3.810000,3.460000,2.030000,0.251382,0.276811,0.471806
3,2022-08-06,Leeds United,Wolverhampton Wanderers,2.296667,3.343333,3.233333,0.417145,0.286553,0.296302
4,2022-08-06,Newcastle United,Nottingham Forest,1.680000,3.746667,5.443333,0.569141,0.255202,0.175657